Repository ryanpedersen42/browser-jotter: changes, and which CircleCI parameters are due for each by the changed paths.
All: cli, local-api, local-client

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.3.1

jobs:


workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          mapping: |
            packages/cli/.* cli true
            packages/local-api/.* local-api true
            packages/local-client/.* local-client true
          name: commit-filtering
          filters:
            branches:
              ignore: /^(main|staging)$/ 
            tags:
              ignore: /.*/
      - path-filtering/filter:
          mapping: |
            packages/cli/.* cli true
            packages/local-api/.* local-api true
            packages/local-client/.* local-client true
          name: staging-filtering
          filters:
            branches:
              only: /^(staging)$/
            tags:
              ignore: /.*/
      - continuation/continue:
          configuration_path: ./continuation-configs/deploy.yml
          filters:  
            tags:
              only: /.*/
            branches:
              only: /^(main)$/


# VS Code Extension Version: 1.0.0

staging change orb
  .circleci/config.yml
Due: none

change staging flow
  .circleci/continuation-configs/staging.yml
Due: none

typo on tests
  .circleci/config.yml
  .circleci/continuation-configs/staging.yml
Due: none

add in linting
  .circleci/continuation-configs/staging.yml
  .eslintignore
  .eslintrc.js
  package-lock.json
  package.json
Due: none

add in other deps for this
  .circleci/continuation-configs/staging.yml
Due: none

trying this format
  .eslintrc.js
Due: none

run latests
  .eslintrc.js
Due: none

back to detect
  .eslintrc.js
Due: none

add debug flag
  .circleci/continuation-configs/staging.yml
Due: none

this version
  .eslintrc.js
Due: none

change up linting
  .eslintrc.cjs
  .eslintrc.js
  package-lock.json
  package.json
Due: none

disable
  packages/local-client/src/components/cell-list.tsx
Due: local-client

this version
  packages/local-client/src/components/cell-list.tsx
Due: local-client

another option
  .eslintrc
  alt.eslintrc.cjs
Due: none

rm the install from this
  .circleci/continuation-configs/staging.yml
Due: none

move back
  .eslintrc
  eslintrc.cjs
Due: none

bootstrap them
  .circleci/continuation-configs/staging.yml
Due: none

wrng job
  .circleci/continuation-configs/staging.yml
Due: none

change some of the scripts
  .circleci/continuation-configs/staging.yml
  packages/local-api/package.json
  packages/local-client/package.json
Due: local-api, local-client

symlink them
  .circleci/continuation-configs/staging.yml
Due: none

rm lint
  packages/local-api/package.json
Due: local-api

that comma
  packages/local-api/package.json
Due: local-api

name the commands
  .circleci/continuation-configs/staging.yml
Due: none

rm those
  package-lock.json
  package.json
Due: none

v1.0.2
  lerna.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/local-api/package-lock.json
  packages/local-api/package.json
  packages/local-client/package-lock.json
  packages/local-client/package.json
Due: cli, local-api, local-client

change readme
  packages/local-client/README.md
Due: local-client

v1.0.3
  lerna.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/local-api/package-lock.json
  packages/local-api/package.json
  packages/local-client/package-lock.json
  packages/local-client/package.json
Due: cli, local-api, local-client

update to small
  .circleci/continuation-configs/staging.yml
  packages/cli/package.json
  packages/local-api/package.json
  packages/local-client/package.json
Due: cli, local-api, local-client

rm boostrap and swtich to medium
  .circleci/continuation-configs/staging.yml
Due: none

need boostrap
  .circleci/continuation-configs/staging.yml
Due: none

rm the comments from prior version
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/orbs/cache.yml
Due: none

add to staging
  .DS_Store
  .circleci/continuation-configs/staging.yml
  .circleci/orbs/cache.yml
  cypress/.DS_Store
Due: none

increment orb
  .circleci/continuation-configs/staging.yml
Due: none

updating other orb invocations
  .circleci/continuation-configs/staging.yml
  .circleci/continue_config.yml
Due: none

rm comment note
  .circleci/orbs/cache.yml
Due: none

some updates on flow for main
  .DS_Store
  .circleci/continuation-configs/deploy.yml
  .circleci/continuation-configs/staging.yml
Due: none

left this off for some reason
  .circleci/continuation-configs/staging.yml
Due: none
