Repository ryanpedersen42/browser-jotter: changes, and which CircleCI parameters are due for each by the changed paths.
All: cli, local-api, local-client

rm tag for now
  .circleci/continuation-configs/staging.yml
Due: none

move auth token and see if that gets me in
  .circleci/continuation-configs/deploy.yml
Due: none

new version
  lerna.json
Due: none

update deploy
  .circleci/continuation-configs/deploy.yml
Due: none

noticed formatting
  .circleci/continuation-configs/deploy.yml
Due: none

try some tagging
  .circleci/continuation-configs/staging.yml
Due: none

tag update
  .circleci/config.yml
  lerna.json
Due: none

added ssh key
  .circleci/continuation-configs/staging.yml
Due: none

v1.0.7
  lerna.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/local-api/package-lock.json
  packages/local-api/package.json
  packages/local-client/package-lock.json
  packages/local-client/package.json
Due: cli, local-api, local-client

incrementing
  packages/local-client/src/__tests__/example.spec.ts
Due: local-client

v1.0.8
  lerna.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/local-api/package-lock.json
  packages/local-api/package.json
  packages/local-client/package-lock.json
  packages/local-client/package.json
Due: cli, local-api, local-client

test back
  packages/local-client/src/__tests__/example.spec.ts
Due: local-client

v1.0.9
  lerna.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/local-api/package-lock.json
  packages/local-api/package.json
  packages/local-client/package-lock.json
  packages/local-client/package.json
Due: cli, local-api, local-client

change text
  packages/local-client/src/components/text-editor.tsx
Due: local-client

v1.0.10
  lerna.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/local-api/package-lock.json
  packages/local-api/package.json
  packages/local-client/package-lock.json
  packages/local-client/package.json
Due: cli, local-api, local-client

try fetching
  .circleci/continuation-configs/deploy.yml
Due: none

change up staging for no tag
  .circleci/continuation-configs/deploy.yml
  .circleci/continuation-configs/staging.yml
Due: none

rm tag step
  .circleci/continuation-configs/deploy.yml
Due: none

idk why its flagging
  .circleci/continuation-configs/deploy.yml
Due: none

thats why
  .circleci/continuation-configs/deploy.yml
Due: none

v1.0.11
  lerna.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/local-api/package-lock.json
  packages/local-api/package.json
  packages/local-client/package-lock.json
  packages/local-client/package.json
Due: cli, local-api, local-client

boostrap first
  .circleci/continuation-configs/deploy.yml
Due: none

rm comments
  .circleci/config.yml
Due: none

api update
  packages/local-api/src/index.ts
Due: local-api

trying this
  .circleci/continue_config.yml
  packages/local-api/src/index.ts
Due: local-api

another iteration
  .circleci/continue_config.yml
  packages/local-api/src/index.ts
Due: local-api

fixed up
  .circleci/continue_config.yml
  packages/local-api/src/index.ts
Due: local-api

update to be relative to main
  packages/local-api/src/index.ts
Due: local-api

cli update
  .circleci/continue_config.yml
  packages/cli/src/index.ts
Due: cli

just a readme docs change
  README.md
Due: none

update deps
  package-lock.json
Due: none

update some packages
  packages/local-client/package-lock.json
  packages/local-client/yarn.lock
Due: local-client

Path conditions:
  cli: any of: packages/cli/.*
  local-api: any of: packages/local-api/.*
  local-client: any of: packages/local-client/.*
